/* General Stuff */
html, body { color: #434242; font-family: 'Open Sans', sans-serif !important; height: 100%; }
body { background: #FFFFFF; font-size: 15px; line-height: 1.64; }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b { font-family: 'Open Sans', sans-serif !important; margin-bottom: 20px; }
h1,h4 { font-weight: 700; margin-bottom: 10px; }
h2,h3 { font-weight: 300; color: #3163f4; }
h2 { font-size: 54px; text-align: center; }
h3 { font-size: 28px; }

.background-white { background: #FFFFFF; }
.background-grey { background: #DDDDDD; }
1814c7
a.anchor{
	display: block;
	position: relative; 
	top: -32px; 
	visibility: hidden;
}

.container{
	max-width: 1280px;
	padding: 30px 150px;
	margin-right: auto;
	margin-left: auto;
}

/* Navigation */

.navbar  { border: 0px; background-color: #222222; position: fixed; top: 50; right: 5%; width: 90px; z-index: 9999; }
.navbar .navbar-collapse { padding: 0px; max-height: none; }
.navbar .navbar-nav { float: none; }
.navbar-nav { margin: 0px; }
.navbar .nav > li { display: block; float: none; height: 60px; } 
.navbar .nav > li a { display: block;  height: 60px; text-align: center; padding-top: 20px; font-weight: 600; color: #FFFFFF; }
.navbar .nav > li a:hover, .navbar .nav > li a:focus { color: #999999; }
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus { background: #ABCABC; color: #FFFFFF; }
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar { background: #222222; }

.fixed .navbar  { position: fixed; top: 60px; }
